body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #fafffd;
}

#headerSection {
  background-image: url(./images/bg.png);
  background-repeat: no-repeat;
  height: 982px;
}
.logo img {
  width: 171px;
  float: left;
  padding-top: 30px;
}
.container {
  padding-left: 135px;
  padding-right: 135px;
  clear: both;
  overflow: auto;
}
nav {
  float: right;
}
ul li {
  display: inline-block;
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.heading {
  font-size: 107px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 44px;
  font-weight: lighter;
}
.headerContent p {
  font-size: 16px;
  margin-bottom: 18px;
  font-weight: 400;
  word-spacing: 5px;
  color: gray;
  line-height: 1.6;
}
.headerContentImage img {
  width: 805px;
}
.headerContentImage {
  padding-top: 40px;
}
.button {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 19px 35px 19px 40px;
  text-align: center;
  border: none;
  background: rgb(42, 245, 152);
  background: linear-gradient(
    90deg,
    rgba(42, 245, 152, 1) 0%,
    rgba(0, 158, 253, 1) 81%
  );
  border-radius: 40px 0px 40px 0px;
}

#secondBanner {
  background-image: url(./images/2ndBanner.png);
  background-repeat: no-repeat;
  height: 710px;
}

.secondBannerHeader {
  padding-top: 40px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  margin-bottom: 67px;
}
.secondBannerHeader h1 {
  font-size: 48px;
  font-weight: 500;
}
.secondBannerHeader p {
  font-size: 16px;
  font-weight: 400;
  color: gray;
  line-height: 1.6;
  margin-top: -5px;
}

#thirdBanner {
  background-image: url(./images/3rdBanner.png);
  background-repeat: no-repeat;
  height: 950px;
}
.rowThirdBanner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
}
.thirdBannerContent p {
  font-size: 16px;
  margin-bottom: 18px;
  font-weight: 400;
  word-spacing: 5px;
  color: gray;
  line-height: 1.6;
}
.thirdBannerHeading {
  font-size: 48px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 44px;
  font-weight: 500;
}
.thirdBannerContentImage img {
  width: 812px;
  height: 742px;
}
.iconDiv {
  text-align: center;
  padding: 58px 73px;
}
.iconDiv img {
  width: 115px;
}
.iconDiv p {
  color: gray;
  line-height: 1.6;
}
.iconDivUnique {
  background-color: white;
  box-shadow: 0px 0px 91px -3px #eaf9f2;
  border-radius: 110px 0px 110px 0px;
}
.achievementIcons img {
  padding-top: 20px;
  padding-right: 30px;
}
.buttonSecondaryOne {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 48px 80px 50px 80px;
  text-align: center;
  border: none;
  background: rgb(42, 245, 152);
  background: linear-gradient(
    90deg,
    rgba(42, 245, 152, 1) 0%,
    rgba(0, 158, 253, 1) 81%
  );
  border-radius: 0px 100px 0px 100px;
}
.buttonSecondaryTwo {
  font-family: "Montserrat", sans-serif;
  color: gray;
  font-size: 18px;
  font-weight: 500;
  padding: 49px 43px 49px 44px;
  text-align: center;
  border: none;
  background: white;
  border-radius: 100px 0px 100px 0px;
}
.buttonSecondaryThree {
  font-family: "Montserrat", sans-serif;
  color: gray;
  font-size: 18px;
  font-weight: 500;
  padding: 49px 99px 49px 100px;
  text-align: center;
  border: none;
  background: white;
  border-radius: 100px 0px 100px 0px;
}
.buttonSecondaryFour {
  font-family: "Montserrat", sans-serif;
  color: gray;
  font-size: 18px;
  font-weight: 500;
  padding: 49px 63px 49px 64px;
  text-align: center;
  border: none;
  background: white;
  border-radius: 0px 100px 0px 100px;
}
#blankBanner {
  background-color: #fafffd;
  height: 772px;
}
#fourthBanner {
  background-image: url(./images/4thBanner.png);
  background-repeat: no-repeat;
  height: 1220px;
}
.pricing {
  text-align: center;
  padding: 54px 78px 172px 78px;
  background-color: white;
}
.pricing h1 {
  font-size: 67px;
  font-weight: 600;
}
.pricing p {
  font-size: 24px;
  font-weight: 400;
  color: #353535;
}
.fourthBannerHeading {
  text-align: center;
  font-size: 48px;
  font-weight: 400;
  padding-bottom: 20px;
}
hr {
  border-top: 1px solid #4fd1cb;
}
.pricingUnique {
  text-align: center;
  padding: 54px 78px 46px 78px;
  background-color: white;
  border: 3px solid #3cedce;
}
.pricingUnique h1 {
  font-size: 67px;
  font-weight: 600;
}
.pricingUnique p {
  font-size: 24px;
  font-weight: 400;
  color: #353535;
}
#contact {
  background-color: #fafffd;
}
.contactHeading {
  text-align: center;
}
.contactHeading h1 {
  font-size: 48px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}
.contactHeading p {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #353535;
  padding-bottom: 79px;
}
.contactField {
  text-align: center;
  padding-bottom: 151px;
}
input[type="text"] {
  width: 810px;
  padding: 29px 0px 28px 32px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  border: none;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 0px #ccc;
  border-radius: 5px;
}

input[type="button"] {
  margin-left: -200px;
  width: 178px;
  text-align: center;
  padding-top: 19px;
  padding-bottom: 19px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
  background: rgb(42, 245, 152);
  background: linear-gradient(
    90deg,
    rgba(42, 245, 152, 1) 0%,
    rgba(0, 158, 253, 1) 81%
  );
  border: none;
  border-radius: 5px;
}
::placeholder {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #353535;
}
#footer {
  background-color: #fafffd;
}
.footerLogo {
  padding-bottom: 36px;
}
.socialIcons {
  padding-right: 27.6px;
}
#footer p {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #464646;
}
.socialIconsContainer {
  padding-bottom: 83px;
}
